 <nav class="navbar" id="navbar-color">
        <div class="container-fluid navbar-expand-lg">
            <div class="d-flex align-items-center">
                <img src="/img/icononavbar.png" alt="icononavbar" class="navbar-icon">
                <a class="navbar-brand text-light" href="#">ChileStudyHub</a>
            </div>
            <div class="ms-auto">
                <a class="btn btn-outline-light me-2" href="/login">Ingresar</a>
                <a class="btn btn-warning text-light" href="/register">Regístrate</a>
            </div>
        </div>
    </nav>
<body class="background-inicio">
    
    
    <div class="container main-content d-flex flex-column align-items-center justify-content-center text-center">
        
        <h1>Haz crecer tus conocimientos</h1>     
        <h3 class="mb-4" style="max-width: 600px;">Desde cursos prácticos y rápidos, todo lo que necesitas para desarrollar las habilidades más buscadas en el mundo laboral.</h3>
        <a href="/register" class="btn btn-warning btn-lg mb-4 btn-center text-light">Regístrate</a>
        <div class="d-flex justify-content-center">
            <div class="d-flex align-items-center icon-text text-light">
                <i class="fa-solid fa-check-circle me-2 text-success"></i>
                <span>100% gratis y en línea</span>
            </div>
            <div class="d-flex align-items-center icon-text text-light">
                <i class="fa-solid fa-check-circle me-2 text-success"></i>
                <span>Acceso ilimitado</span>
            </div>
            <div class="d-flex align-items-center icon-text text-light">
                <i class="fa-solid fa-check-circle me-2 text-success"></i>
                <span>Variedad de cursos</span>
            </div>
        </div>
    </div>
    <footer class="text-center mt-4">
        <p>&copy; 2024 ChileStudyHub - Todos los derechos reservados</p>
    </footer>
</body>
